/* About.css */
.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #fff;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 40px;
  max-width: 1140px;
  margin: 0 auto;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-content {
  max-width: 384px;
}

.about-title {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 76.81px;
  color: #000000;
  margin-bottom: 20px;
}

.about-subtitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.01px;
  color: #000000;
  margin-bottom: 20px;
}

.about-text {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.38px;
  color: #000000;
}

.about-images {
  position: relative;
  max-width: 558px;
}

.about-image {
  width: 278px;
  height: 278px;
  position: absolute;
  top: 50%;
  border-radius: 16px;
}

.about-image:first-child {
  z-index: 2;
  right: 0;
  transform: translateY(-70%);
}

.about-image:last-child {
  z-index: 1;
  left: 40px;
  transform: translateY(-20%);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 768px;
    width: 360px;
    padding-top: 0;
  }

  .about-container{
    grid-template-columns: 1fr;
    width: 100%;
  }


.about-images {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.about-image {
  position: static;
  transform: none !important;
}
}